@import '../../../styles/settings.scss';

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .project {
        border: 3px solid $color-white;
        border-radius: 5px;
        width: 80%;
        height: 60%;
        display: flex;
        color: $color-white;
        transform: translateX(-120%);
        .projectLeft {
            flex: 0 0 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 3px solid $color-white;
        }
        .projectRight {
            flex: 0 0 80%;
            display: flex;
            flex-direction: column;
            .content {
                flex: 0 0 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid $color-white;
            }
            .links {
                flex: 0 0 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 30px;
            }
        }
    }
    .show {
        transform: translateX(0%);
        transition: $transition;
    }
}